@font-face {
    font-family: NotoSans-ExtraLight;
    src: url(../fonts/NotoSans-ExtraLight.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: NotoSans-Light;
    src: url(../fonts/NotoSans-Light.ttf);
}

@font-face {
    font-family: NotoSans-Thin;
    src: url(../fonts/NotoSans-Thin.ttf);
}

@font-face {
    font-family: Roboto-Thin;
    src: url(../fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: NotoSans-Regular;
    src: url(../fonts/NotoSans-Regular.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: NotoSans-Medium;
    src: url(../fonts/NotoSans-Medium.ttf);
}

@font-face {
    font-family: Roboto-Medium;
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: NotoSans-SemiBold;
    src: url(../fonts/NotoSans-SemiBold.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(../fonts/Roboto-Bold.ttf);
}


@font-face {
    font-family: NotoSans-Bold;
    src: url(../fonts/NotoSans-Bold.ttf);
}

@font-face {
    font-family: NotoSans-ExtraBold;
    src: url(../fonts/NotoSans-ExtraBold.ttf);
}

@font-face {
    font-family: Roboto-Black;
    src: url(../fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: NotoSans-Black;
    src: url(../fonts/NotoSans-Black.ttf);
}

@font-face {
    font-family: NotoSans-ExtraLightItalic;
    src: url(../fonts/NotoSans-ExtraLightItalic.ttf);
}

@font-face {
    font-family: NotoSans-LightItalic;
    src: url(../fonts/NotoSans-LightItalic.ttf);
}

@font-face {
    font-family: NotoSans-Italic;
    src: url(../fonts/NotoSans-Italic.ttf);
}

@font-face {
    font-family: NotoSans-MediumItalic;
    src: url(../fonts/NotoSans-MediumItalic.ttf);
}

@font-face {
    font-family: NotoSans-BlackItalic;
    src: url(../fonts/NotoSans-BlackItalic.ttf);
}

@font-face {
    font-family: NotoSans-ExtraBoldItalic;
    src: url(../fonts/NotoSans-ExtraBoldItalic.ttf);
}

@font-face {
    font-family: NotoSans-BlackItalic;
    src: url(../fonts/NotoSans-BlackItalic.ttf);
}

@font-face {
    font-family: OpenSans-SemiboldItalic;
    src: url(../fonts/OpenSans-SemiboldItalic.ttf);
}


@font-face {
    font-family: sst-arabic-roman;
    src: url(../fonts/SST-Arabic-Roman.ttf);
}

@font-face {
    font-family: sst-arabic-bold;
    src: url(../fonts/sst-arabic-bold.ttf);
}
