.inner-banner-wrapper {
   
    height: 350px;
    margin-top: 80px;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        height: 350px;
        background: rgba(0, 0, 0, 0.5);
    }

    .inner-banner-content {
        position: absolute;
        top: 70%;
        left: 3%;
        transform: translate(0, -70%);
        width: 90%;
        z-index: 2;

        .inner-banner-label {
            color: #fff;
            font-size: 18px;
            margin-bottom: 12px;

            a {
                color: white;
            }
        }

        .inner-banner-heading {
            color: #fff;
            font-size: 38px;
            line-height: 1;
            text-transform: uppercase;
            font-weight: 600;
            margin-bottom: 5px;

            @media all and (max-width: 767px) {
                font-size: 30px;
            }
        }
    }
}
